body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-event {
  font-weight: bold;
  font-style: italic;
}

.popup {
  position: absolute;
  top: 30px; /* Adjust as needed to position the popup */
  left: 100px;
  background-color: #181111;
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
  display: none;
}

.position-relative:hover .popup {
  display: block;
}


/* Add this CSS to your stylesheet or a separate CSS file */
